body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-button {
    width: 8px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(185, 185, 185);
    border: thin solid rgb(182, 175, 175);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b4aeae;
}

::-webkit-scrollbar:horizontal {
    height: 8px;
}

a {
    text-decoration: none
}
